@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,700;1,700&display=swap');

h2 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    color: darkslategrey;
}

.gt_selector {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    padding: 2px;
    padding-bottom: 10px;
}

p {
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.construction {
    font-size: 40px;
    font-family: 'Comic Sans MS', cursive;
}

.gameSection {
    margin-right: 30%;
    margin-left: 30%;
    border-radius: 5px;
    background-color: rgb(62, 57, 57);
    color: white;
    text-align: center;
    padding-bottom: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gameThing {
    display: flex;
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 5px;
    background-color: rgb(62, 57, 57);
    background: linear-gradient(to bottom, #9f9f9f 0%, #104f12 63%); 
    color: white;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.play {
    padding: 2%4%;
    background-color: rgb(35, 132, 35);
    background: linear-gradient(to bottom, #5fbc89 0%, #16623f 63%); 
    color: white;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(37, 37, 37, 0.19);
    border-radius: 10px;
}


.preview {
    border: 1px solid #ddd;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    padding: 5px;
    max-width: 90%;
    height: auto;

} 

.gs_head {
    border-radius: 5px 5px 0px 0px;
    padding: 1px;
    text-align: center;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.capsule {
    text-align: left;
    max-width: 25%;
    padding-left: 2%;
    padding-right: 2%;
    height: auto;
    font-size: small;
}

.release {
    font-size: small;
    text-align: left;
    color: darkgrey;
    text-align: center;

}

.gameTitle {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.play2 {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;

}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(to bottom, #7d7d7d 0%, #000000 63%);
}

.albumCov {
    border: 1px solid #ddd;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    padding: 5px;
    max-width: 50%;
    text-align: center;
    height: auto;
}

.album {
    text-align: center;
    padding: 1%;
    color: white;
    font-size: large;
    background-color: black;
    border-radius: 4px;
    margin: 1%;
    width: 2%;
}

.bah {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
}

.empty {
    width: max-content;
}

.ajsdfjasdf {
    display: flex;
    justify-content: center;
}