body {
    background-color: rgb(44, 42, 42);
}

h1 {
    text-align: center;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}

nav {
    text-align: center;
    font-family: sans-serif;
}

p {
    text-align: center;
    font-family: sans-serif;
    color: white;
}

a {
    color: aqua;
}